@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP SARA</h1>
    <p class="lead">Alta, baja y modificacion de productos, variaciones y colores.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
